body {
	overflow: hidden;
  font-family: "proxima-nova-soft", sans-serif;
}

canvas {
	display: block;
}

#ui {
  position: absolute;
  width: 100%;
  height: 100%;
}

#start-screen {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  /*transform: translate(-50%, -50%);*/
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  padding-top: 20vh;
}

#start-screen input, #start-screen button {
  display: block;
  margin: 0 auto;
}

#start-screen input {
  text-align: center;
  width: 100px;
  font-size: 1.2em;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50px;
  padding: 5px 10px;
  color: white;
  font-family: "proxima-nova-soft", sans-serif;
}

#start-screen input:focus {
  outline: none;
  border-color: yellow;
}

#start-screen img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

#leaderboard {
  position: absolute;
  right: 0;
  color: white;
  margin: 20px;
  font-size: 1.3em;
}

#leaderboard li {
  margin: 3px 0;
}

#leaderboard .score {
  float: right;
  padding: 0 0 0 10px;
}

#version {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgba(225,225,225, 0.5);
  font-size: 0.9em;
  margin: 5px;
}
